tourista-flows.json
[{"id":"f2bed510.52e708","type":"tab","label":"TOURISTA ","disabled":false,"info":""},{"id":"45b0130c.b345ac","type":"comment","z":"f2bed510.52e708","name":"[PUT] Enter currency (user)","info":"Ο χρήστης μπορεί να προσδιορίσει ποιο νόμισμα χρησιμοποιεί, εάν το επιθυμεί, ώστε να εμφανίζονται στον χάρτη του υπηρεσίες που τον εξυπηρετούν (π.χ. γραφεία συναλλάγματος)","x":280,"y":380,"wires":[]},{"id":"fa50549a.c341c8","type":"http in","z":"f2bed510.52e708","name":"Enter currency","url":"/user/:userID/trip/:tripID","method":"post","upload":false,"swaggerDoc":"","x":440,"y":420,"wires":[["8bdc9bd3.0bc0c8"]]},{"id":"da86b6ca.f2d668","type":"http response","z":"f2bed510.52e708","name":"","statusCode":"200","headers":{"content-type":"application/json"},"x":1200,"y":420,"wires":[]},{"id":"3ebb803d.9c28e","type":"function","z":"f2bed510.52e708","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 200;\nreturn msg;\n","outputs":1,"noerr":0,"x":970,"y":420,"wires":[["da86b6ca.f2d668"]]},{"id":"25295183.03016e","type":"inject","z":"f2bed510.52e708","name":"Call currency service","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":473.99998474121094,"y":591.0000677108765,"wires":[["4c2f4eb0.2ef65"]]},{"id":"4c2f4eb0.2ef65","type":"http request","z":"f2bed510.52e708","name":"CurrencyRequest","method":"POST","ret":"obj","paytoqs":false,"url":"http://127.0.0.1:1880/user/user123/trip/trip123","tls":"","persist":false,"proxy":"","authType":"","x":753.9999847412109,"y":591.0000677108765,"wires":[["2eb82a90.4d4a36"]]},{"id":"2eb82a90.4d4a36","type":"debug","z":"f2bed510.52e708","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":983.9999847412109,"y":591.0000677108765,"wires":[]},{"id":"8bdc9bd3.0bc0c8","type":"function","z":"f2bed510.52e708","name":"ServiceLogic","func":"msg.payload =  \"euro\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":420,"wires":[["3ebb803d.9c28e"]]},{"id":"93024c6d.3a5cf","type":"comment","z":"f2bed510.52e708","name":"Call /user/:userID/trip/:tripID Service","info":"currency: -\"euro\"\n          -\"dollars\"\n          -\"pounds\"\n          -\"yen\"\n(ενδεικτικά κάποιες τιμές για το νόμισμα)","x":503.99998474121094,"y":531.0000677108765,"wires":[]},{"id":"13868e17.9d2532","type":"comment","z":"f2bed510.52e708","name":"[POST] Leave feedback (user)","info":"","x":280,"y":1320,"wires":[]},{"id":"c55ba68b.f8edb8","type":"http in","z":"f2bed510.52e708","name":"Leave feedback","url":"/user/:userID/feedback","method":"post","upload":false,"swaggerDoc":"","x":480,"y":1380,"wires":[["c70dab50.ff0bc8"]]},{"id":"aa3536fa.26b538","type":"http response","z":"f2bed510.52e708","name":"http(200)","statusCode":"200","headers":{},"x":1190,"y":1380,"wires":[]},{"id":"c70dab50.ff0bc8","type":"function","z":"f2bed510.52e708","name":"Feedback function","func":"feedback={\n    \"comment\" : msg.payload.comment ,\n    \"rate\" : msg.payload.rate\n}\nmsg.payload=feedback;\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":1380,"wires":[["85826cb.b8c369"]]},{"id":"85826cb.b8c369","type":"function","z":"f2bed510.52e708","name":"Response Headers","func":"msg.header={\n};\nmsg.statusCode=200;\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":1380,"wires":[["5e922324.30fffc","aa3536fa.26b538"]]},{"id":"5e922324.30fffc","type":"debug","z":"f2bed510.52e708","name":"msg","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1160,"y":1480,"wires":[]},{"id":"393088e0.bc1bf8","type":"inject","z":"f2bed510.52e708","name":"EditFeedback","topic":"","payload":"{\"comment\":\"teleioo\",\"rate\":\"5\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":490,"y":1580,"wires":[["db9e17b9.694668"]]},{"id":"3e0ceeb4.1ee032","type":"comment","z":"f2bed510.52e708","name":"Call /user/:userID/feedback Service","info":"Give your comment and your rate for the system !\ncoomment : string\nrate : array[5]","x":540,"y":1520,"wires":[]},{"id":"db9e17b9.694668","type":"http request","z":"f2bed510.52e708","name":"FeedbackRequest","method":"POST","ret":"obj","paytoqs":false,"url":"http://127.0.0.1:1880/user/user123/feedback","tls":"","persist":false,"proxy":"","authType":"","x":790,"y":1580,"wires":[["b9a870b8.bc4e2"]]},{"id":"b9a870b8.bc4e2","type":"debug","z":"f2bed510.52e708","name":"msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1040,"y":1580,"wires":[]},{"id":"79421c37.6f51e4","type":"comment","z":"f2bed510.52e708","name":"[PUT] User Login (logged in user)","info":"","x":270,"y":1740,"wires":[]},{"id":"6fb8075f.345f68","type":"http in","z":"f2bed510.52e708","name":"UserLogin","url":"/user/login","method":"put","upload":false,"swaggerDoc":"","x":460,"y":1800,"wires":[["6dee12f6.ba17dc"]]},{"id":"6dee12f6.ba17dc","type":"function","z":"f2bed510.52e708","name":"LoginService","func":"user={\n    \"username\" : msg.payload.username ,\n    \"password\" : msg.payload.password\n}\nmsg.payload=user;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":1800,"wires":[["338c63ee.77a4bc"]]},{"id":"df07b9ba.c45288","type":"debug","z":"f2bed510.52e708","name":"msg.payload","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1090,"y":1900,"wires":[]},{"id":"3582e90f.a0b316","type":"inject","z":"f2bed510.52e708","name":"Login","topic":"","payload":"{\"username\":\"Zafeiria\",\"password\":\"*******\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":450,"y":2000,"wires":[["2a539a4.e66d066"]]},{"id":"e6d33018.c5589","type":"debug","z":"f2bed510.52e708","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":990,"y":2000,"wires":[]},{"id":"2a539a4.e66d066","type":"http request","z":"f2bed510.52e708","name":"LoginRequest","method":"PUT","ret":"obj","paytoqs":false,"url":"http://127.0.0.1:1880/user/login","tls":"","persist":false,"proxy":"","authType":"","x":740,"y":2000,"wires":[["e6d33018.c5589"]]},{"id":"c7fca047.4dbae","type":"http response","z":"f2bed510.52e708","name":"http(200)","statusCode":"","headers":{},"x":1160,"y":1800,"wires":[]},{"id":"338c63ee.77a4bc","type":"function","z":"f2bed510.52e708","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusValid = 200;\n\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":1800,"wires":[["df07b9ba.c45288","c7fca047.4dbae"]]},{"id":"6c481131.05094","type":"comment","z":"f2bed510.52e708","name":"Call user/login Service","info":"Give your username and password in order to login to the system !\nusername : string \npassword : string","x":500,"y":1940,"wires":[]},{"id":"5f7c6602.10f9d8","type":"comment","z":"f2bed510.52e708","name":"[POST] Organise TripPlan (logged in user)","info":"","x":280,"y":2160,"wires":[]},{"id":"55889ece.24584","type":"http in","z":"f2bed510.52e708","name":"organiseTrip","url":"/user/:username/tripPlan/:planID","method":"post","upload":false,"swaggerDoc":"","x":470,"y":2240,"wires":[["ff06cdeb.e559c"]]},{"id":"ff06cdeb.e559c","type":"switch","z":"f2bed510.52e708","name":"Trip Organise ?","property":"payload.organise","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":718.0000381469727,"y":2239.000213623047,"wires":[["8c4c884d.f8cf98"],["2904aca9.9671e4"]]},{"id":"8c4c884d.f8cf98","type":"function","z":"f2bed510.52e708","name":"SuccessfulOperation","func":"msg.payload={\n    \"successfulMsg\":\"Now you can organise your trip\",\n    \"tripPlan\" :[{\n    \"offlineUse\" : \"true\" ,\n    \"filters\": \"\" ,\n    \"locations\": \"\" ,\n    \"willToSave\": \"true\" , \n    \"willToShare\" : \"false\" ,\n    \"isSaved\": \"true\" ,\n    \"placeOfResidence\" : \"\" ,\n    \"destination\" : \"\" ,\n    \"travelDuration\" : \"5\" ,\n     //tyxaies times parametrwn\n     }]\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":999.0001220703125,"y":2143.0002098083496,"wires":[["fd9f6d64.f993a"]]},{"id":"c3a85b62.00a628","type":"http response","z":"f2bed510.52e708","name":"","statusCode":"200","headers":{},"x":1479.0001220703125,"y":2143.0002098083496,"wires":[]},{"id":"fd9f6d64.f993a","type":"function","z":"f2bed510.52e708","name":"ResponseHeaders","func":"msg.headers = {\n   \n};\nmsg.successfulStatus = 200;\nreturn msg;","outputs":1,"noerr":0,"x":1249.0001220703125,"y":2143.0002098083496,"wires":[["2549b237.d7ec6e","c3a85b62.00a628"]]},{"id":"2549b237.d7ec6e","type":"debug","z":"f2bed510.52e708","name":"msg.payload","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1329.0001220703125,"y":2243.0002098083496,"wires":[]},{"id":"2d0a0bec.8c67a4","type":"function","z":"f2bed510.52e708","name":"ResponseHeaders","func":"msg.headers={\n}\nmsg.unsuccessfulCode=400;\n\nreturn msg;","outputs":1,"noerr":0,"x":1295.000129699707,"y":2313.000217437744,"wires":[["505122b0.d4ed5c","e9386d20.f286c"]]},{"id":"505122b0.d4ed5c","type":"http response","z":"f2bed510.52e708","name":"","statusCode":"400","headers":{},"x":1545.000129699707,"y":2313.000217437744,"wires":[]},{"id":"2904aca9.9671e4","type":"function","z":"f2bed510.52e708","name":"UnsuccessfulOperation","func":"msg.payload={\n    \"error\" : true ,\n    \"text\" :\"unsuccessfull operation\" \n}\nreturn msg;","outputs":1,"noerr":0,"x":1015.000129699707,"y":2313.000217437744,"wires":[["2d0a0bec.8c67a4"]]},{"id":"e9386d20.f286c","type":"debug","z":"f2bed510.52e708","name":"msg.payload","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1325.000129699707,"y":2393.000217437744,"wires":[]},{"id":"227e23c5.6286ac","type":"inject","z":"f2bed510.52e708","name":"Organise trip by user","topic":"","payload":"{\"organise\" : 1}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":486.99998474121094,"y":2465.0000190734863,"wires":[["ea893535.3b1678"]]},{"id":"5265e132.f52f1","type":"debug","z":"f2bed510.52e708","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1075.999984741211,"y":2465.0000190734863,"wires":[]},{"id":"ea893535.3b1678","type":"http request","z":"f2bed510.52e708","name":"OrganiseRequest","method":"POST","ret":"obj","paytoqs":false,"url":"http://127.0.0.1:1880/user/klpanagi/tripPlan/plan123","tls":"","persist":false,"proxy":"","authType":"","x":815.9999847412109,"y":2465.0000190734863,"wires":[["5265e132.f52f1"]]},{"id":"6d78b9ab.baeb08","type":"comment","z":"f2bed510.52e708","name":"Call /user/:username/tripPlan/:planID Service","info":"Put \"organise\" = 1 if you want to organise your trip! \nIf \"organise\" != 1 you cannot organise your trip!","x":566.9999847412109,"y":2405.0000190734863,"wires":[]},{"id":"b6d9cac0.b46f38","type":"http in","z":"f2bed510.52e708","name":"Share trip plan","url":"/user/:username/tripPlan/:planID","method":"get","upload":false,"swaggerDoc":"","x":460,"y":2700,"wires":[["55a4f47b.fad2cc"]]},{"id":"9b4613ba.7abe2","type":"comment","z":"f2bed510.52e708","name":"[GET] Share tripPlan (logged in user)","info":"","x":280,"y":2640,"wires":[]},{"id":"f9e84fa8.f5182","type":"http response","z":"f2bed510.52e708","name":"","statusCode":"200","headers":{"content-type":"application/json"},"x":1260,"y":2620,"wires":[]},{"id":"42ea3841.45c038","type":"function","z":"f2bed510.52e708","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 200;\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":2620,"wires":[["f9e84fa8.f5182","baa12603.8b77c8"]]},{"id":"baa12603.8b77c8","type":"debug","z":"f2bed510.52e708","name":"ServiceResponse","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1150,"y":2680,"wires":[]},{"id":"6368dfd.f5a8d2","type":"http response","z":"f2bed510.52e708","name":"","statusCode":"500","headers":{"content-type":"application/json"},"x":1300,"y":2720,"wires":[]},{"id":"e7bbeab6.708218","type":"function","z":"f2bed510.52e708","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 500;\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":2720,"wires":[["6368dfd.f5a8d2","730cb725.903468"]]},{"id":"730cb725.903468","type":"debug","z":"f2bed510.52e708","name":"ServiceResponse","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1230,"y":2800,"wires":[]},{"id":"47324ba7.c38694","type":"function","z":"f2bed510.52e708","name":"Error","func":"errorMsg = {\n    \"Error\": \"System Failed! Your trip plan was not shared.\"\n}\n\nmsg.payload = errorMsg\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":2720,"wires":[["e7bbeab6.708218"]]},{"id":"2f3eb036.d16ec","type":"switch","z":"f2bed510.52e708","name":"everything ok?","property":"payload.systemfailure","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":800,"y":2700,"wires":[["42ea3841.45c038"],["47324ba7.c38694"]]},{"id":"55a4f47b.fad2cc","type":"function","z":"f2bed510.52e708","name":"Social Media","func":"SocialMedia = {\n    \"Facebook\" : false,\n    \"Instagram\" : false,\n    \"Twitter\" : false,\n    \"Gmail\" : false,\n    \"Viber\" : false,\n    \"Link\" : false\n}\n\nvar sm = msg.payload.media;\n\nswitch(sm){\n    case 1:\n        SocialMedia.Facebook = true;\n        break;\n    case 2:\n        SocialMedia.Instagram = true;\n        break;\n    case 3:\n        SocialMedia.Twitter = true;\n        break;\n    case 4:\n        SocialMedia.Gmail = true;\n        break;\n    case 5:\n        SocialMedia.Viber = true;\n        break;\n    case 6:\n        SocialMedia.Link = true;\n        break;\n    default:\n        //nothing happens\n}\n\nSharing = {\n    \"social\": SocialMedia,\n    \"username\": msg.req.params.username,\n    \"tripplan\": msg.payload.tripplan,\n    \"systemfailure\": false\n}\nmsg.payload = Sharing;\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":2700,"wires":[["2f3eb036.d16ec"]]},{"id":"b9a20f86.b74b1","type":"comment","z":"f2bed510.52e708","name":"return SM choice, trip plan, username & if system works","info":"","x":760,"y":2760,"wires":[]},{"id":"47fb3558.b375cc","type":"inject","z":"f2bed510.52e708","name":"Call trip plan & social medium","topic":"WilltoShare","payload":"{\"media\":1,\"tripplan\":[{\"offlineUse\":\"true\",\"filters\":\"\",\"locations\":\"\",\"willToSave\":\"true\",\"willToShare\":\"false\",\"isSaved\":\"true\",\"placeOfResidence\":\"\",\"destination\":\"\",\"travelDuration\":\"5\"}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":500,"y":2880,"wires":[["cdf9d667.732d38"]],"info":"Select which social media you want:\n * 1 for Facebook\n * 2 for Instagram\n * 3 for Twitter\n * 4 for Gmail\n * 5 for Viber\n * 6 for Link sharing"},{"id":"cdf9d667.732d38","type":"http request","z":"f2bed510.52e708","name":"SharingRequest","method":"PUT","ret":"obj","paytoqs":false,"url":"http://127.0.0.1:1880/user/user123/tripPlan/plan2","tls":"","persist":false,"proxy":"","authType":"","x":740,"y":2880,"wires":[["39e8f768.9ab9c8"]]},{"id":"39e8f768.9ab9c8","type":"debug","z":"f2bed510.52e708","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":890,"y":2880,"wires":[]},{"id":"be60c695.24da58","type":"comment","z":"f2bed510.52e708","name":"Call /user/:username/tripPlan/:planID service","info":"1. Select which social media you want (check inject description)\n2. Input the trip plan","x":550,"y":2840,"wires":[]},{"id":"8ba8e018.b57b2","type":"http in","z":"f2bed510.52e708","name":"Share map","url":"/user/:username/map/:mapID","method":"get","upload":false,"swaggerDoc":"","x":440,"y":3100,"wires":[["e1d1026f.4d6f7"]]},{"id":"929c3d4f.1565c","type":"http response","z":"f2bed510.52e708","name":"","statusCode":"200","headers":{"content-type":"application/json"},"x":1040,"y":3040,"wires":[]},{"id":"bf027f4c.ae5ac","type":"function","z":"f2bed510.52e708","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 200;\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":3080,"wires":[["929c3d4f.1565c","3de38c21.bdcdf4"]]},{"id":"3de38c21.bdcdf4","type":"debug","z":"f2bed510.52e708","name":"ServiceResponse","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1150,"y":3080,"wires":[]},{"id":"1cdab13d.592b9f","type":"inject","z":"f2bed510.52e708","name":"Call map & social medium","topic":"WilltoShare","payload":"{\"media\":1,\"map\":[{\"filters\":\"\",\"locations\":\"\",\"willToShare\":true}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":510,"y":3280,"wires":[["e2190186.5e3f"]]},{"id":"e2190186.5e3f","type":"http request","z":"f2bed510.52e708","name":"SharingRequest","method":"PUT","ret":"obj","paytoqs":false,"url":"http://127.0.0.1:1880/user/klpanagi/map/map123","tls":"","persist":false,"proxy":"","authType":"","x":760,"y":3280,"wires":[["eae7b828.5e07d8"]]},{"id":"eae7b828.5e07d8","type":"debug","z":"f2bed510.52e708","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":930,"y":3280,"wires":[]},{"id":"e7412bdf.97eb38","type":"http response","z":"f2bed510.52e708","name":"","statusCode":"500","headers":{"content-type":"application/json"},"x":1240,"y":3160,"wires":[]},{"id":"74e0d6f3.17a6f8","type":"function","z":"f2bed510.52e708","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 500;\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":3120,"wires":[["e7412bdf.97eb38","6364c3e2.27893c"]]},{"id":"6364c3e2.27893c","type":"debug","z":"f2bed510.52e708","name":"ServiceResponse","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1270,"y":3120,"wires":[]},{"id":"2e4030.548f7fd","type":"function","z":"f2bed510.52e708","name":"Error","func":"errorMsg = {\n    \"Error\": \"System Failed! Your map was not shared.\"\n}\n\nmsg.payload = errorMsg\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":3120,"wires":[["74e0d6f3.17a6f8"]]},{"id":"d668896a.6e0d78","type":"switch","z":"f2bed510.52e708","name":"everything ok?","property":"payload.systemfailure","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":760,"y":3100,"wires":[["bf027f4c.ae5ac"],["2e4030.548f7fd"]]},{"id":"e1d1026f.4d6f7","type":"function","z":"f2bed510.52e708","name":"Social Media","func":"SocialMedia = {\n    \"Facebook\" : false,\n    \"Instagram\" : false,\n    \"Twitter\" : false,\n    \"Gmail\" : false,\n    \"Viber\" : false,\n    \"Link\" : false\n}\n\nvar sm = msg.payload.media;\n\nswitch(sm){\n    case 1:\n        SocialMedia.Facebook = true;\n        break;\n    case 2:\n        SocialMedia.Instagram = true;\n        break;\n    case 3:\n        SocialMedia.Twitter = true;\n        break;\n    case 4:\n        SocialMedia.Gmail = true;\n        break;\n    case 5:\n        SocialMedia.Viber = true;\n        break;\n    case 6:\n        SocialMedia.Link = true;\n        break;\n    default:\n        //nothing happens\n}\n\nSharing = {\n    \"social\": SocialMedia,\n    \"username\": msg.req.params.username,\n    \"map\": msg.payload.map,\n    \"systemfailure\": false\n}\nmsg.payload = Sharing;\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":3100,"wires":[["d668896a.6e0d78"]]},{"id":"c5de13e5.0927f","type":"comment","z":"f2bed510.52e708","name":"return SM choice, map, username & if system works","info":"","x":750,"y":3160,"wires":[]},{"id":"fafd0dbd.e91ef","type":"comment","z":"f2bed510.52e708","name":"Call /user/:username/map/:mapID service","info":"1. Select which social media you want:\n * 1 for Facebook\n * 2 for Instagram\n * 3 for Twitter\n * 4 for Gmail\n * 5 for Viber\n * 6 for Link sharing\n2. Input the map","x":540,"y":3320,"wires":[]},{"id":"5f9650c2.0b0c1","type":"comment","z":"f2bed510.52e708","name":"[GET] Share map (logged in user)","info":"","x":270,"y":3000,"wires":[]},{"id":"556d4b.7c6fb2b4","type":"http in","z":"f2bed510.52e708","name":"Save Map","url":"/user/:username/map/:mapID","method":"put","upload":false,"swaggerDoc":"","x":340,"y":3520,"wires":[["6ea0c239.bc7ffc"]]},{"id":"3e97d6c3.6af17a","type":"comment","z":"f2bed510.52e708","name":"[PUT] Save map (logged in user)","info":"","x":170,"y":3440,"wires":[]},{"id":"fbf9c18a.7ad11","type":"inject","z":"f2bed510.52e708","name":"Save Map","topic":"","payload":"{\"willToSave\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":3700,"wires":[["fc055c72.da4e"]]},{"id":"fc055c72.da4e","type":"http request","z":"f2bed510.52e708","name":"SaveRequest","method":"PUT","ret":"obj","paytoqs":false,"url":"http://127.0.0.1:1880/user/klpanagi/map/map123","tls":"","persist":false,"proxy":"","authType":"","x":520,"y":3700,"wires":[["8e303714.0b2218"]]},{"id":"8e303714.0b2218","type":"debug","z":"f2bed510.52e708","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":3700,"wires":[]},{"id":"6ea0c239.bc7ffc","type":"switch","z":"f2bed510.52e708","name":"Save?","property":"payload.willToSave","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":3520,"wires":[["467c9f0c.dd7a"],["29553e89.0bbf62"]]},{"id":"f12afa23.83d3b8","type":"http response","z":"f2bed510.52e708","name":"","statusCode":"500","headers":{"content-type":"application/json"},"x":1020,"y":3580,"wires":[]},{"id":"344eff58.54c26","type":"function","z":"f2bed510.52e708","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 200;\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":3460,"wires":[["59017d39.713464","de1c45cf.db0278"]]},{"id":"59017d39.713464","type":"http response","z":"f2bed510.52e708","name":"","statusCode":"200","headers":{},"x":1060,"y":3460,"wires":[]},{"id":"29553e89.0bbf62","type":"function","z":"f2bed510.52e708","name":"Error","func":"ErrorM = {\n    \"error\": true,\n    \"text\" : \"System Failed\"\n}\n\nmsg.payload = ErrorM;\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":3580,"wires":[["1095e8c2.7290b7"]]},{"id":"1095e8c2.7290b7","type":"function","z":"f2bed510.52e708","name":"ResponseHeaders","func":"msg.headers = { \n    text: \"Failure\"\n};\nmsg.statusCode = 500;\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":3580,"wires":[["f12afa23.83d3b8","1e7141a2.d2a66e"]]},{"id":"de1c45cf.db0278","type":"debug","z":"f2bed510.52e708","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1030,"y":3520,"wires":[]},{"id":"1e7141a2.d2a66e","type":"debug","z":"f2bed510.52e708","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1010,"y":3640,"wires":[]},{"id":"467c9f0c.dd7a","type":"function","z":"f2bed510.52e708","name":"Success","func":"msg.payload = {\n    \"successfulMsg\":\"Success\",\n    \"map\":[{    \n        \"offlineUse\": false,\n        \"isSaved\": msg.payload.save,\n        \"Filters\": \"\",\n        \"Locations\":\"\",\n        \"willToSave\": \"\", //disabled option\n        \"willToShare\": false\n    }]\n}\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":3460,"wires":[["344eff58.54c26"]]},{"id":"e4f0bf7a.15aac","type":"comment","z":"f2bed510.52e708","name":"Call/user/:username/map/:mapID Service","info":"\"willToSave\" 1: Success, otherwise: Error/User does not want to save the map","x":420,"y":3640,"wires":[]},{"id":"c3c012c2.d5078","type":"comment","z":"f2bed510.52e708","name":"[GET] Use map offline (logged in user)","info":"","x":210,"y":3880,"wires":[]},{"id":"7ed016b4.428128","type":"http in","z":"f2bed510.52e708","name":"Use Map Offline","url":"/user/:username/map/:mapID/mapUse","method":"get","upload":false,"swaggerDoc":"","x":360,"y":4000,"wires":[["c974aae9.006b68"]]},{"id":"c974aae9.006b68","type":"switch","z":"f2bed510.52e708","name":"Offline Use?","property":"payload.offlineUse","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":560,"y":4000,"wires":[["f7710481.b45568"],["8bb7976b.d894d8"]]},{"id":"f7710481.b45568","type":"function","z":"f2bed510.52e708","name":"Show Map Offline","func":"msg.payload = {\n    \"offline\": msg.payload.mapUse,\n    \"map\":[{    \n        \"offlineUse\": true,\n        \"isSaved\": true,\n        \"Filters\": \"\",\n        \"Locations\":\"\",\n        \"willToSave\": false,\n        \"willToShare\": false\n    }]\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":3960,"wires":[["329a709d.871ff"]]},{"id":"8bb7976b.d894d8","type":"function","z":"f2bed510.52e708","name":"System Error","func":"ErrorM = {\n    \"error\": true,\n    \"text\" : \"System Failed\"\n}\n\nmsg.payload = ErrorM;\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":4040,"wires":[["3789151e.11d3ca"]]},{"id":"329a709d.871ff","type":"function","z":"f2bed510.52e708","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 200;\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":3960,"wires":[["15a98dc7.efff52","8eb476b5.f09978"]]},{"id":"3789151e.11d3ca","type":"function","z":"f2bed510.52e708","name":"ResponseHeaders","func":"msg.headers = { \n    text: \"Failure\"\n};\nmsg.statusCode = 500;\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":4040,"wires":[["c1a23789.a0fed8","8a5a229d.15544"]]},{"id":"c1a23789.a0fed8","type":"http response","z":"f2bed510.52e708","name":"","statusCode":"500","headers":{"content-type":"application/json"},"x":1110,"y":4040,"wires":[]},{"id":"15a98dc7.efff52","type":"http response","z":"f2bed510.52e708","name":"","statusCode":"200","headers":{"content-type":"application/json"},"x":1150,"y":3960,"wires":[]},{"id":"8eb476b5.f09978","type":"debug","z":"f2bed510.52e708","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1140,"y":4000,"wires":[]},{"id":"8a5a229d.15544","type":"debug","z":"f2bed510.52e708","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1100,"y":4080,"wires":[]},{"id":"4ae49c4f.ebc524","type":"inject","z":"f2bed510.52e708","name":"Use Map Offline","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":380,"y":4160,"wires":[["e3b5258a.9cd2c8"]]},{"id":"6c11e959.f25d98","type":"debug","z":"f2bed510.52e708","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":4160,"wires":[]},{"id":"e3b5258a.9cd2c8","type":"http request","z":"f2bed510.52e708","name":"OfflineRequest","method":"GET","ret":"obj","paytoqs":false,"url":"http://127.0.0.1:1880/user/thomi/map/map123mapUse?offlineUse=1","tls":"","persist":false,"proxy":"","authType":"","x":580,"y":4160,"wires":[["6c11e959.f25d98"]]},{"id":"784f15f0.5eee8c","type":"comment","z":"f2bed510.52e708","name":"Call /user/:username/map/:mapID/mapUse?offlineUse=1 Service","info":"\"offline\" 1: Success, otherwise Error/Map cannot be used offline ","x":510,"y":4100,"wires":[]},{"id":"5c92e38f.74a92c","type":"comment","z":"f2bed510.52e708","name":"[POST] Enter new location (logged in user)","info":"","x":160,"y":4280,"wires":[]},{"id":"654b7e83.c7e9b","type":"http in","z":"f2bed510.52e708","name":"Enter New Spot","url":"/user/:username/location","method":"post","upload":false,"swaggerDoc":"","x":280,"y":4420,"wires":[["69b214a1.6d789c"]]},{"id":"69b214a1.6d789c","type":"function","z":"f2bed510.52e708","name":"New Spot Function","func":"msg.payload = {\n    \"test\": msg.payload.test,\n    \"locationName\": msg.payload.locationName,\n    \"address\": msg.payload.address,\n    \"category\": msg.payload.category\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":4420,"wires":[["ed5217fb.bb1718"]]},{"id":"21d1305b.2ee7","type":"inject","z":"f2bed510.52e708","name":"Enter New Spot","topic":"","payload":"{\"locationName\":\"Pites Voulas\",\"address\":\"Pavlou Mela 48, SKG\",\"category\":\"food\",\"test\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":4620,"wires":[["bf13510d.0a3de"]]},{"id":"e1ec9f53.3d528","type":"function","z":"f2bed510.52e708","name":"Show New Spot on the Map","func":"msg.payload = {\n    \"map\":[{    \n        \"offlineUse\": false,\n        \"isSaved\": false,\n        \"Filters\": \"\",\n        \"Locations\": [{\n            \"locationName\": msg.payload.locationName,\n            \"address\": msg.payload.address,\n            \"category\": msg.payload.category\n        }], //new spot appears on the map\n        \"willToSave\": false,\n        \"willToShare\": false\n    }]\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":4320,"wires":[["9f0d14be.c2aa08"]]},{"id":"9f0d14be.c2aa08","type":"function","z":"f2bed510.52e708","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 200;\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":4320,"wires":[["24297cb6.6d6694","6b392da0.cef734"]]},{"id":"24297cb6.6d6694","type":"http response","z":"f2bed510.52e708","name":"","statusCode":"200","headers":{"content-type":"application/json"},"x":1300,"y":4320,"wires":[]},{"id":"6b392da0.cef734","type":"debug","z":"f2bed510.52e708","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1290,"y":4380,"wires":[]},{"id":"22ffe2dc.bc28ce","type":"function","z":"f2bed510.52e708","name":"System Error","func":"ErrorM = {\n    \"error\": true,\n    \"text\" : \"System Failed\"\n}\n\nmsg.payload = ErrorM;\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":4420,"wires":[["9fa43fad.26043"]]},{"id":"9fa43fad.26043","type":"function","z":"f2bed510.52e708","name":"ResponseHeaders","func":"msg.headers = { \n    text: \"Failure\"\n};\nmsg.statusCode = 500;\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":4420,"wires":[["2f757b25.2e7c34","7cdda598.9c953c"]]},{"id":"2f757b25.2e7c34","type":"http response","z":"f2bed510.52e708","name":"","statusCode":"500","headers":{"content-type":"application/json"},"x":1260,"y":4420,"wires":[]},{"id":"7cdda598.9c953c","type":"debug","z":"f2bed510.52e708","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1250,"y":4460,"wires":[]},{"id":"85f99fad.1cd81","type":"function","z":"f2bed510.52e708","name":"Invalid entries","func":"ErrorM = {\n    \"error\": true,\n    \"text\" : \"Invalid Entries\"\n}\n\nmsg.payload = ErrorM;\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":4520,"wires":[["68f18524.4295bc"]]},{"id":"68f18524.4295bc","type":"function","z":"f2bed510.52e708","name":"ResponseHeaders","func":"msg.headers = { \n    text: \"Failure\"\n};\nmsg.statusCode = 400;\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":4520,"wires":[["2827738b.3617bc","115096a3.fb3039"]]},{"id":"2827738b.3617bc","type":"http response","z":"f2bed510.52e708","name":"","statusCode":"400","headers":{"content-type":"application/json"},"x":1280,"y":4520,"wires":[]},{"id":"115096a3.fb3039","type":"debug","z":"f2bed510.52e708","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1270,"y":4560,"wires":[]},{"id":"bf13510d.0a3de","type":"http request","z":"f2bed510.52e708","name":"NewSpotRequest","method":"POST","ret":"obj","paytoqs":false,"url":"http://127.0.0.1:1880/user/:username/location","tls":"","persist":false,"proxy":"","authType":"","x":510,"y":4620,"wires":[["af957a03.fe3fc8"]]},{"id":"af957a03.fe3fc8","type":"debug","z":"f2bed510.52e708","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":4620,"wires":[]},{"id":"ed5217fb.bb1718","type":"switch","z":"f2bed510.52e708","name":"","property":"payload.test","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":640,"y":4420,"wires":[["e1ec9f53.3d528"],["22ffe2dc.bc28ce"],["85f99fad.1cd81"]]},{"id":"6cc5385c.9824b8","type":"comment","z":"f2bed510.52e708","name":"Call /user/:username/location Service","info":"Enter location name, address and category of the new spot you want to add to the system\n\nTest variable indicates whether how the service will respond. Specifically, \"test\" 1: Success, 2: System Failure, 3: Invalid entries.","x":350,"y":4560,"wires":[]},{"id":"6ae955d7.918bec","type":"http in","z":"f2bed510.52e708","name":"Submit basic info","url":"/user/:userID/trip/:tripID","method":"post","upload":false,"swaggerDoc":"","x":420,"y":120,"wires":[["731860a6.6221a"]]},{"id":"f85aebfc.f4b008","type":"comment","z":"f2bed510.52e708","name":"[POST] Enter basic information (user)","info":"Enter the basic information for the trip\n-destination\n-placeOfResidence  \n-travelDuration \n","x":310,"y":60,"wires":[]},{"id":"d9a80696.5e3ba8","type":"http response","z":"f2bed510.52e708","name":"","statusCode":"200","headers":{"content-type":"application/json"},"x":1110,"y":120,"wires":[]},{"id":"731860a6.6221a","type":"function","z":"f2bed510.52e708","name":"Basic Info Function","func":"Trip = {\n        \"destination\" : msg.payload.destination,\n        \"placeOfResidence\" : msg.payload.place,\n        \"travelDuration\" : msg.payload.days\n}\n\nif (Number.isInteger(msg.payload.days)){\n    Trip.travelDuration = msg.payload.days;\n}\nelse {\n    Trip.travelDuration = \"\";\n    text  = \"Invalid duration info\";\n}\n\nmsg.payload = Trip;\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":120,"wires":[["d0cb1e91.11a03","9134ce77.78c53"]]},{"id":"9134ce77.78c53","type":"debug","z":"f2bed510.52e708","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":880,"y":200,"wires":[]},{"id":"eaf4de11.c50f","type":"http request","z":"f2bed510.52e708","name":"InfoRequest","method":"POST","ret":"obj","paytoqs":false,"url":"http://127.0.0.1:1880/user/user123/trip/trip123","tls":"","persist":false,"proxy":"","authType":"","x":640,"y":300,"wires":[["be2d658c.1c62f8"]]},{"id":"be2d658c.1c62f8","type":"debug","z":"f2bed510.52e708","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":820,"y":300,"wires":[]},{"id":"269702e5.768f6e","type":"comment","z":"f2bed510.52e708","name":"Call /user/:userID/trip/:tripID Service","info":"Εισαγωγή πληροφοριών από τον κόμβο trigger\n-destination : \"string\"\n-placeOfResidence: \"string\"\n-travelDuration: \"integer\"","x":480,"y":260,"wires":[]},{"id":"d0cb1e91.11a03","type":"function","z":"f2bed510.52e708","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 200;\nreturn msg;\n","outputs":1,"noerr":0,"x":910,"y":120,"wires":[["d9a80696.5e3ba8"]]},{"id":"2cfa39b6.1fc376","type":"inject","z":"f2bed510.52e708","name":"Call Basic Info","topic":"","payload":"{\"destination\":\"dubai\",\"place\":\"Hotel bla bla\",\"days\":2}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":440,"y":300,"wires":[["eaf4de11.c50f"]]},{"id":"83f038ff.fed358","type":"http in","z":"f2bed510.52e708","name":"Turn on GPS","url":"/user/:userID/gpsLocation","method":"put","upload":false,"swaggerDoc":"","x":430,"y":720,"wires":[["10afb71f.109029"]]},{"id":"3d185524.e6ef3a","type":"http response","z":"f2bed510.52e708","name":"","statusCode":"200","headers":{"content-type":"application/json"},"x":1080,"y":720,"wires":[]},{"id":"a2a73238.fb5a","type":"comment","z":"f2bed510.52e708","name":"[PUT] Turn on GPS services (user)","info":"Whether the user wants to turn on theirs GPS services or not.\n","x":300,"y":680,"wires":[]},{"id":"10afb71f.109029","type":"function","z":"f2bed510.52e708","name":"ServiceLogic","func":"GPSlocation = {\n  // willToEnableLocation -> will \n  // enabledLocation -> enable\n  \n  \"will\" : msg.payload.will,\n  \"enable\" : false\n}\n\n  if (msg.payload.will === true) \n    GPSlocation.enable = true;\n  else \n    GPSlocation.enable = false; \n\nmsg.payload = GPSlocation;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":720,"wires":[["82b8bd17.8c3e4"]]},{"id":"b92f3c16.96912","type":"inject","z":"f2bed510.52e708","name":"Call (GPS) Service ","topic":"","payload":"{\"will\" : false}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":900,"wires":[["b010fe33.7032a"]]},{"id":"b010fe33.7032a","type":"http request","z":"f2bed510.52e708","name":"GPSRequest","method":"PUT","ret":"obj","paytoqs":false,"url":"http://127.0.0.1:1880/user/user123/gpsLocation","tls":"","persist":false,"proxy":"","authType":"","x":730,"y":900,"wires":[["f44e438d.d7e57"]]},{"id":"82b8bd17.8c3e4","type":"function","z":"f2bed510.52e708","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 200;\nreturn msg;\n","outputs":1,"noerr":0,"x":830,"y":720,"wires":[["3d185524.e6ef3a","187758dd.eac2a7"]]},{"id":"f44e438d.d7e57","type":"debug","z":"f2bed510.52e708","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":950,"y":900,"wires":[]},{"id":"187758dd.eac2a7","type":"debug","z":"f2bed510.52e708","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1030,"y":780,"wires":[]},{"id":"e63c9014.25be2","type":"comment","z":"f2bed510.52e708","name":"Call /user/:userID/gpsLocation Service","info":"Εάν ο χρήστης θέλει να ενεργοποιήσει την τοποθεσία του τότε \"will\":true, αλλιώς \"will\":false.","x":510,"y":860,"wires":[]},{"id":"91cb70df.6fc2a","type":"comment","z":"f2bed510.52e708","name":"[PUT] Enter preferences (user)","info":"","x":290,"y":1020,"wires":[]},{"id":"48f00a7e.c6b2c4","type":"http in","z":"f2bed510.52e708","name":"Select Filters","url":"/user/:userID/filters","method":"put","upload":false,"swaggerDoc":"","x":450,"y":1080,"wires":[["1f09adb3.551302"]]},{"id":"8ec3cab0.62f538","type":"http response","z":"f2bed510.52e708","name":"","statusCode":"200","headers":{"content-type":"application/json"},"x":1080,"y":1080,"wires":[]},{"id":"1f09adb3.551302","type":"function","z":"f2bed510.52e708","name":"ServiceLogic","func":"// Οι 5 κατηγορίες αν και στο 1ο παραδοτέο ορίστηκαν\n// τύπου Arraylist, εδώ αναπαριστόνται με αυτόν τον \n// τρόπο για να συμβαδίσουμε με το swagger όπου\n// δεν μπορούσαμε να τα δηλώσουμε ως Arraylist\nTransportation = { //transportation        \n         \"car\" : false,\n         \"taxi\" : false,\n         \"walking\" : false, \n         \"bike\" : false\n        }\n\nHealth =  {\n          \"hospitals\" : false,\n          \"pharmacies\" : false\n            }\n            \n\nCulture = {\n          \"ancient\" : false,\n          \"postclassical\" : false,\n          \"gallery\" : false,\n          \"modernArt\" : false,\n          \"science\" : false,\n          \"citysgems\" : false\n        }\n        \nEntertainment = {\n          \"eatingOut\" : false,\n          \"partiesFestivals\" : false,\n          \"cinema\" : false\n        }\n        \nFinance = {\n            \"bank\" : false,\n            \"ATMs\" : false,\n            \"BankBranches\" : false,\n            \"exchangeOffices\" : false\n        }\n        \nFilters = {\n    \"Transportation\" : Transportation,\n    \"Health\" : Health,\n    \"Culture\" : Culture,\n    \"Entertainment\" : Entertainment,\n    \"Finance\" : Finance\n    \n}\n\nswitch(msg.payload.transportation) {\n  case 1:\n    Transportation.car = true;\n    break;\n  case 2:\n    Transportation.taxi = true;\n    break;\n  case 3:\n    Transportation.walking = true;\n    break;\n  case 4:\n    Transportation.bike = true;\n    break;\n    default:\n    //do nothing\n}\n\nswitch(msg.payload.health) {\n  case 1:\n    Health.hospitals = true;\n    break;\n  case 2:\n    Health.pharmacies = true;\n    break;\n    default:\n    //do nothing\n}\n\nswitch(msg.payload.culture) {\n  case 1:\n    Culture.ancient = true;\n    break;\n  case 2:\n    Culture.postclassical = true;\n    break;\n  case 3:\n    Culture.gallery = true;\n    break;\n  case 4:\n    Culture.modernArt = true;\n    break;\n  case 5:\n    Culture.science = true;\n    break;\n  case 6:\n    Culture.citysgems = true;\n    break;\n    default:\n    //do nothing\n}\n\nswitch(msg.payload.entertainment) {\n  case 1:\n    Entertainment.eatingOut = true;\n    break;\n  case 2:\n    Entertainment.partiesFestivals = true;\n    break;\n  case 3:\n    Entertainment.cinema = true;\n    break;\n    default:\n    //do nothing\n}\n\nswitch(msg.payload.finance) {\n  case 1:\n    Finance.bank = true;\n    break;\n  case 2:\n    Finance.ATMs = true;\n    break;\n  case 3:\n    Finance.BankBranches = true;\n    break;\n  case 4:\n    Finance.exchangeOffices = true;\n    break;\n    default:\n    //do nothing\n}\n\nmsg.payload = Filters;\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":1080,"wires":[["3312b746.7e1eb8"]]},{"id":"3312b746.7e1eb8","type":"function","z":"f2bed510.52e708","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 200;\nreturn msg;\n","outputs":1,"noerr":0,"x":890,"y":1080,"wires":[["8ec3cab0.62f538"]]},{"id":"8279b15d.4301a","type":"inject","z":"f2bed510.52e708","name":"Call Filters Service","topic":"","payload":"{\"transportation\":2,\"health\":2,\"culture\":3,\"entertainment\":3,\"finance\":2}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":510,"y":1200,"wires":[["e2786ea6.43e7e"]]},{"id":"e2786ea6.43e7e","type":"http request","z":"f2bed510.52e708","name":"FiltersRequest","method":"PUT","ret":"obj","paytoqs":false,"url":"http://127.0.0.1:1880/user/user123/filters","tls":"","persist":false,"proxy":"","authType":"","x":720,"y":1200,"wires":[["fa6a1f34.dd77c"]]},{"id":"fa6a1f34.dd77c","type":"debug","z":"f2bed510.52e708","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":1200,"wires":[]},{"id":"fd5057ca.870478","type":"comment","z":"f2bed510.52e708","name":"Call /user/:userID/filters Service","info":"Choose among the five available filter categories\nYour request must have the following specific form:\n{\"transportation\":1,\"health\":1,\"culture\":1,\"entertainment\":1,\"finance\":1}\n\nFor **Transportation** category choose a number:\n1 -> car\n2 -> taxi\n3 -> walking\n4 -> bike\n\nFor **Health** category choose a number: \n1 -> hospitals\n2 -> pharmacies\n\nFor **Culture** category choose a number: \n1 -> ancient\n2 -> postclassical\n3 -> gallery\n4 -> modern art\n5 -> science\n6 -> city's gems\n\nFor **Entertainment** category choose a number:\n1 -> eating out\n2 -> parties/festivals\n3 -> cinema\n\nFor **Finance** category choose a number:\n1 -> bank\n2 -> ATMs\n3 -> Bank Branches //diafora apo to bank?\n4 -> exchange offices\n\nExample: If your preferences are bike,hospital,ancient,cinema and ATMs your request must be:\n{\"transportation\":4,\"health\":1,\"culture\":1,\"entertainment\":3,\"finance\":2}\n\nIf you want to avoid a category you can enter a random number (e.g. zero) except for the ones mentioned\n","x":510,"y":1160,"wires":[]}]